In [7]:
import pandas as pd

df = pd.read_csv("Solarcapacity50MW.csv")

df.head()

,Time(year-month-day h:m:s),Total solar irradiance (W/m2),Direct normal irradiance (W/m2),Global horizontal irradiance (W/m2),Air temperature (째C),Atmosphere (hpa),Power (MW)
0,2019-01-01 00:00:00,0,0,0,-11.7,930.5,0.0
1,2019-01-01 00:15:00,0,0,0,-11.8,930.5,0.0
2,2019-01-01 00:30:00,0,0,0,-11.4,930.5,0.0
3,2019-01-01 00:45:00,0,0,0,-11.5,930.5,0.0
4,2019-01-01 01:00:00,0,0,0,-11.5,930.4,0.0

In [11]:
df = pd.read_csv("SolarNominal130MW.csv")
df.head()

,Time(year-month-day h:m:s),Total solar irradiance (W/m2),Direct normal irradiance (W/m2),Global horizontal irradiance (W/m2),Air temperature (째C),Atmosphere (hpa),Relative humidity (%),Power (MW)
0,2019-01-01 00:00:00,0.0,0.0,0.0,-1.33,1005.94,87.69,-0.27
1,2019-01-01 00:15:00,0.0,0.0,0.0,-2.89,995.88,94.58,-0.29
2,2019-01-01 00:30:00,0.0,0.0,0.0,-3.09,1022.68,84.01,-0.31
3,2019-01-01 00:45:00,0.0,0.0,0.0,-4.12,995.28,91.08,-0.31
4,2019-01-01 01:00:00,0.0,0.0,0.0,-4.23,1098.33,91.80,-0.31